body{
	margin: 0;
	padding: 0;

    width: 100%;

	min-height: 100vh;

	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);

  
}

.header{

    display: flex;
    flex-direction: row;
    color: blanchedalmond;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;

}

.primo_div_header{
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: left;
}




.logo{
    width: 20%;
    height: 15%;
    padding-left: 3rem;
}




.secondo_div_header{
    width: 50%;
    text-align: center;

}

.terzo_div_header{
    width: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

}

.ul_class{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.ul_class li{
    margin-left: 1.5rem;
    color: white;
}
.ul_class li a{
    text-decoration: none;
    color: white;


}

.ul_class li a:hover{
    border-bottom: 2px solid white;
}




.btn{
    background-color: white;
    border: 1px rgb(44, 41, 41);
    font-size: 17px;
    border-radius: 1rem;
    margin-right: 3rem;
    margin-left: 0.5rem;
    transition: all 0.5s ease-out;
    
}

.btn:hover{
    background-color: rgb(133, 0, 0);
    color: rgb(209, 179, 179);
    cursor: pointer;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.class_h1{
    margin: 0;
}



.tasto_accedi{
    margin: 0;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

}





.main_container{
    width: 100%;
    
  
}


.riga{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 8rem;


}
.singolo_prodotto{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    position: relative;

}



.nome_scarpe{
    text-decoration: none;

    color: blanchedalmond;
   
}

.immagine{
    
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 20px;
    display: block;
    
}




.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(98, 148, 214, 0.562);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    text-align: center;
    transition: .5s ease-in;
}


.titolo{
    font-size: 2em;

}



.singolo_prodotto:hover{
    transform: scale(1.05);
    -webkit-transition: transform 1s ease-in-out;

}



.overlay:hover{
    opacity: 1;
    border-radius: 1rem;
    
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(10px 10px 10px rgba(38, 116, 206, 0.562));
    
    
}






.class_footer{
    padding: 1rem 1rem 1rem 1rem;
}

.div_footer{
    width: 20%;
    margin: auto;
    background: white;
    border-radius: 2rem;
    
}




.loghi{
    margin: auto;
    display: flex;
}

.immagine_footer{
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

hr{
    width: 90%;
}


.immagine_footer:hover{
    transform: scale(1.2);
    -webkit-transition: transform 1s ease-in-out;
}

a{
    width: 100%;
    display: flex;
    justify-content: center;
}